/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
	font-family: 'Feeling Passionate';
	src: url('~assets/fonts/feeling-passionate.otf') format('opentype');
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {

	/* @apply bg-white text-green font-sans-serif; */
	@apply bg-dark-gray text-black;
}

.wrapper {
	@apply mx-auto max-w-[1640px];
}

.wrapper-inner {
	@apply px-2 mx-auto max-w-7xl;
}

.wrapper-inner--skinny {
	@apply max-w-5xl px-2 mx-auto;
}

a {
	/* @apply font-black text-gold; */
}

.btn {
	@apply px-2 py-1 font-black uppercase rounded-sm;
}

.btn--primary {
	/* @apply text-white bg-gold; */
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-serif font-bold text-7xl;
}
/* p,
h1,
h2,
h3,
h4,
h5 {
	pointer-events: none;
}

form,
label,
input,
button,
link {
	pointer-events: auto;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-header;
}

.transition-theme {
	transition: all 0.3s ease;
}

.btn--primary {
	@apply text-black bg-orange-300 hover:bg-white;
}

.btn--secondary {
	@apply text-white bg-black hover:bg-orange-300;
}

.btn {
	@apply px-6 py-3 text-lg font-semibold uppercase lg:text-3xl hover:opacity-90 transition-theme rounded-theme;
	transition: all 0.3s ease;
}

.text-shadow-theme {
	text-shadow: 3px 5px 4px #151515;
} */
